@{
    ViewBag.Title = "Yonetici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Ekle</h2>

@using (Html.BeginForm("AddStudent", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("id", "id")
        @Html.TextBox("id", null, new { @class = "form-control", placeholder = "id" })
    </div>
    <div class="form-group">
        @Html.Label("Ad", "Ad")
        @Html.TextBox("Ad", null, new { @class = "form-control", placeholder = "Ad" })
    </div>
    <div class="form-group">
        @Html.Label("Sifre", "Sifre")
        @Html.Password("Sifre", null, new { @class = "form-control", placeholder = "Şifre" })
    </div>
    <button type="submit" class="btn btn-primary">Öğrenci Ekle</button>
}
